<li>
  <%= content_tag(:div, :class => "content-item thumbnail #{content_item.class.to_s.underscore}") do %>
    <%= link_to(content_item.url) do %>
      <% thumbnail = content_item.thumbnail %>
      <%= image_tag(thumbnail.url,
            # An inline style is used instead of width & height attributes so
            # Bootstrap's own CSS declarations are overridden.
            :style => "width: #{thumbnail.tweetwall_width}px; height: #{thumbnail.tweetwall_height}px;",
            :alt => content_item.title) %>
    <% end %>
    <h3>
      <%= content_tag(:i, nil, :class => "icon-large icon-#{content_item.glyphicon}") %>
      <%= link_to(truncate(content_item.title, :length => 128), content_item.url) %>
    </h3>
    <div class="tweets">
      <ul>
        <% content_item.tweets.each do |tweet| %>
          <%= render :partial => "tweet", :locals => {:tweets => content_item.tweets, :tweet => tweet} %>
        <% end %>
      </ul>
    </div>
  <% end %>
</li>
