<ul>
  <% @content_items.each do |content_item| %>
    <li>
      <%= image_tag(content_item.thumbnail_url, :alt => "#{content_item.title} thumbnail") %>
      <p><%= link_to(content_item.title, content_item.url) %></p>
      <% content_item.tweets.each do |tweet| %>
        <ul>
          <li>
            <%= image_tag(tweet.profile_image_url, :alt => "#{tweet.screen_name}'s profile") %>
            <p><strong><%= tweet.user_name %></strong> (@<%= tweet.screen_name %>)</p>
            <p><%= tweet.text %></p>
            <p><%= link_to(tweet.tweet_created_at, tweet.url) %></p>
          </li>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
