<!DOCTYPE html>
<html>
<head>
  <title>NYPL Tweetwall</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="600">
  <%= favicon_link_tag "/favicon.ico", :type => "image/x-icon" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= render :partial => "shared/header" %>
    <%= render :partial => "shared/navigation" %>
    <%= yield %>
  </div>
</body>
</html>
